{{#if this.battery.isSupported}}
  <p>{{this.battery.levelPercentage}}%  {{fa-icon this.iconName}}</p>

  {{#if this.battery.isCharging}}
    <p>Your battery is charging!</p>
  {{/if}}

  {{#if this.isTooLow}}
    <p>Your battery is too low!</p>
  {{/if}}

  <p>Discharging Time: {{this.battery.dischargingTime}}</p>
  <p>Charging Time: {{this.battery.chargingTime}}</p>
{{else}}
  <p>Your browser does not support battery status API.</p>
{{/if}}
